* {
  margin-left: 50px;
  margin-top: 20px;
  margin-left: 50px;
}

body {
  background-color: #fffafa;
  text-align: left;
}

.date {
  color: #008080;
  font-family: "Roboto";
}

.post-container h1 {
  font-family: "Montserrat";
}

.post-content {
  font-family: "Open Sans";
}
